fastapi==0.119.0
uvicorn==0.38.0
python-multipart==0.0.20
doclayout_yolo==0.0.4
huggingface-hub==0.35.3
dill==0.4.0
torch==2.5.1
torchvision==0.20.1
numpy==2.2.6
opencv-python==4.12.0.88
pillow==11.3.0
pypdfium2==4.30.0
pytesseract==0.3.13
spacy==3.8.11
requests==2.32.5
